body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: linear-gradient(black, #111);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  color: red;
}

.btn {
  background: red;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.destaque {
  background: red;
}

footer {
  background: black;
  padding: 20px;
}
