body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0a0a0a;
  color: white;
}

/* NAV */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: url('fundo.png');
  background-size: cover;
  background-position: center 20%;
}

.hero h2 {
  font-size: 45px;
  color: red;
}

.btn {
  background: red;
  padding: 12px 25px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* SOBRE */
.sobre-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

.sobre img {
  width: 300px;
  border-radius: 10px;
}

.badges span {
  display: block;
  margin-top: 10px;
}

/* PLANOS */
.planos {
  text-align: center;
  padding: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.destaque {
  background: red;
  transform: scale(1.05);
}

/* CONTATO */
.contato {
  text-align: center;
  padding: 50px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}

/* RESPONSIVO */
@media(max-width: 800px){
  .sobre-container {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
